Hello {{ .RecipientName }},

{{ .InviterName }} has invited you to join {{ .SiteName }}.

Please click the link below to accept the invitation:
{{ .InviteURL }}

Best regards,
The {{ .SiteName }} Team