Hello,

A new article has been published on {{ .SiteName }}:

Title: {{ .ArticleTitle }}
Author: {{ .AuthorName }}
URL: {{ .ArticleURL }}

Excerpt:
{{ .Excerpt }}

Check it out now!

Best regards,
The {{ .SiteName }} Team